#Ignore VS temp files and directories

/X64/
/.vs/
/[Dd]ebug/
/[Rr]elease/
/eclipsis-framework/[Dd]ebug/
/eclipsis-framework/[Rr]elease/
/eclipsis-framework/[xX]64/
/ipch/
/Hello Triangle/[Dd]ebug/
/Hello Triangle/[Rr]ebug/
*.VC.db
/Eclipsis/Debug
/Eclipsis/Release
/Eclipsis/x64
/Eclipsis/data/assets/shaders/glslangValidator.exe
/[Bb]uild/
/[Oo]ut/
